<div class="classy-students-header">
    <div class="classy-content-header">
        <h1>Your class has been sorted!</h1>
    </div>
</div>


<div class="teacher-column">
</div>

<div class="classroom-student-card-container">
    <div class="classroom-card">
        <div class="student-image-card"><img src="" alt=""></div>
        <div class="student-name-label">
            <div class="student-first">Laura</div>
            <div class="student-last">Abowd</div>
        </div>
        <div class="student-data">
          <div class="gripper-icon">: : : :</div>
            <div class="student-card-icons">
                <i class="fas fa-plus-square classroom-card-icon"></i>
                <i class="fas fa-globe-americas classroom-card-icon"></i>
                <i class="fas fa-hat-wizard classroom-card-icon"></i>
                <i class="fas fa-exclamation-triangle classroom-card-icon"></i>
            </div>
            <div class="view-info-link">View Info</div>
        </div>
    </div>
</div>
