<div class="classy-students-header">
  <div class="classy-content-header">
    <h1>Your class has been sorted!</h1>
  </div>
</div>

<div class="classroom-container">
<%= render 'shared/teachercards' %>
<%= render 'shared/smallstudentcards' %>
<%= render 'shared/dashboard' %>

</div>
