<h1>Classrooms#index</h1>
<p>Find me in app/views/classrooms/index.html.erb</p>
<%= link_to "home", "/", class: "btn btn-primary" %>


<div class="container m-auto">

  <div class="student-card-container">
    <div class="student-card d-flex  flex-grow-1 justify-content-around">
        <img class="avatar-large" alt="avatar-large" src="" />
        <p>Student</p>
        <div class="student-info">
          <!-- student information container -->
          <div class="student ml-3">

            <p></p>

            <p></p>
            <p></p>
          </div>
        </div>
        <!-- /student information container -->

        <div class="checkbox-icon">
          <i class="fas fa-plus-square"></i>
          <i class="fas fa-globe-americas"></i>
          <i class="fas fa-hat-wizard"></i>
          <i class="fas fa-exclamation-triangle"></i>
        </div>


        <div class="special-icons">

              <div class="spacearound-checkbox">
                <div class="d-flex">
                  <div class="mr-5">

                  </div>
                  <div class="mr-5">

                  </div>
                  <div class="mr-5">

                  </div>
                  <div class="mr-5">

                  </div>

                </div>
              </div>

        </div>


            <div class="do-not-place">

            </div>

          <div id="view-dropdown">
            <div class="yellow-btn">View Note</div>
          </div>
    </div>
    <div class="dropdown-card">
        <div class="mr-3 ml-4 w-50">
          <div class="student-content">

          </div>
        </div>
        <div class="mr-3 ml-4 w-25">
          <div class="student-content">


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
