<div class="classy-students-header">
  <div class="classy-content-header">
    <h2>Your class has been sorted!</h2>
    <p>Drag and drop if you need to adjust your classes and download your class sheet</p>
    <div class="blue-btn">
      <%= link_to 'Download', classrooms_path(format: :xlsx), class: 'download-btn'%>
    </div>
  </div>
</div>

<div class="classroom-container" data-controller="studentClassroom">
<%= render 'shared/teachercards' %>
<%= render 'shared/smallstudentcards' %>
</div>

<!-- <#%= link_to 'Download', classrooms_path(format: :xlsx) %> -->




