// Define variables for your color scheme
$classy-background-white: white;
$classy-blue: rgb(15, 94, 199);
$classy-green: rgb(71, 204, 100);
$classy-yellow: rgb(244, 191, 0);
$classy-red: rgb(241, 23, 9);

// Grayscale
$classy-gray: #0E0000;
$light-gray: rgb(244, 244, 244);
$classy-header-gray: rgb(55,55,55);
$classy-less-important-text-shade: rgb(92,92,92);
$classy-shadow-gray: rgb(206,206,206);
