
.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  width: 50%;
  padding-left: 100px;
    p {
      font-size: 18px;
    }
}

.hero-img {
  width: 50%;
  text-align: center;
}

#container-sub-banner {
  padding-left: 0px;
  padding-right: 0px;
}

.classy-sub-banner {
  width: 100%;
  background-color: $classy-yellow;
  padding: 45px 0 45px 0;
    h3 {
    font-weight: bolder;
  }
}

.card-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 28px;
  grid-row-gap: 0px;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.white-card {
  background-color: white;
  display: grid;
  padding: 20px;
  border-radius: 16px;
}

.yellow-circle-sm {
  width: 80px;
  height: 80px;
  background-color: $classy-yellow;
  justify-self: center;
  display: grid;
  border-radius: 50%;
  margin-bottom: 20px;
}

.circle-number-sm {
  font-size: 32px;
  align-self: center;
}

// apply styles if 1400px or less
@media screen and (max-width: 1250px) {
  .landingviewstudents-btn {
    height: 42px;
    width: 144px;
  }
  .learn-more-text {
    font-size: 12px;
  }
}

@media screen and (max-width: 860px) {
 
  .hero-container {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
  }
  .landingviewstudents-btn {
    // display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .hero-img {
    width: 100%;
  }
}