// Specific CSS for your home-page

// .banner {
//   background-image: url();
//   background-size: cover;
//   // background-color: pink;
// }

// .banner p {
//   font-size: 31.25px;
// }

//bootstrap class for banner

body {
  background-color: white;
}

.jumbotron-fluid {
  background-color: white;
  padding-left: 48px;
}

.container-fluid h1 {
  font-size: 100px;
  font-weight: bold;
}

.mt-3 {
  width: 100%;
  // height: 500px;
  background-color: $classy-yellow;
}

.card-img-top img {
  max-width: 115px;
  padding-top: 10px;
}
