/* Style the header */

.students-header-container {
  position: relative;
}
.classy-students-header {
  margin: auto auto 20px auto;
  height: 150px;
  width: 85%;
  line-height: 150px;
  text-align: center;
  color: $classy-gray;
  background-color: $classy-yellow;
  border-radius: 40px;
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 10px 0 10px;
  border-color: $classy-yellow transparent transparent transparent;
  border-radius: 4px;
  position: absolute;
  bottom: -11%;
  left: 22%;
  transform: rotate(25deg);
}

.classy-content-header {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.student-tab-container {
  justify-content: center;
  text-align: center;
}

.student-tab {
  border-radius: 24px 24px 0px 0px;
  width: 575px;
  height: 60px;
  margin: 1px;
  background-color: $classy-blue;
  // opacity: .35;
  p {
    color: $classy-background-color;
    padding: 18px;
  }
}
// needs to be $classy-blue when active and classy-blue opacity .35 when not active

.student-nav-link {
  border: 0 !important; //border is inherited from bootstrap
}


/* student header */

.wrapper {
   background: $classy-blue;
   z-index: 1;
}

.sticky-header-container {
  justify-items: center;
  padding: 20px 0 20px 0;
}


/* GRID HEADER */

 #student-header {
  display: grid;
  max-width: 1080px;
  grid-template-columns: repeat(16, 2fr);
  grid-template-rows: 2fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
}

.save-btn {
  grid-column: span 7;
}

.icon-text {
  grid-column: span 1;
  font-size: 12px;
  color: $classy-background-color;
}

.show-notes-btn {
  grid-column: span 5;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

#header-container-sticky {
  position: sticky;
  top: 0;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}

/* CUSTOM STICKY HEADER */

.header-flex {
  display: flex;
  margin: auto;
  color: $classy-background-color;
  font-size: 12px;
}

.header-name {
  margin-left: 138px;
  margin-right: 44px;
  padding-top: 8px;
}

.header-student-info {
  margin-right: 55px;
}

.header-parameters {
  display: flex;
  margin-left: 210px;
}

.header-content {
  margin-right: 37px;
  text-align: center;
}


/* Tab Component  */

.classy-tabs {
  display: flex;
  margin-left: 15%;
}

.classy-ul-tabs {
  max-width: 1080px;
  width: 100%;
}

.tabs {
  clear: both;
  position: relative;
  margin: 0 auto;
   /* you can either manually set a min-height here or do it via JS ---> */
}

.tab label {
  opacity: .35;
  position: relative;
  top: 0;
  cursor: pointer;
  color: #333;
  text-transform: uppercase;
  transition: 0.15s ease-out;
   &:hover {
    opacity: 1;
   }
}

.tab [type=radio] {
  display: none;
}

.tab__content {
  position: relative;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity .2s cubic-bezier(.42,0,.34,1.01);
  opacity: 0;
}

[type=radio]:checked ~ label {
  opacity: 1;
  z-index: 2;
}

[type=radio]:checked ~ label .tab__content {
  z-index: 1;
  opacity: 1;
}

// do not place badge
.do-not-place {
  position: relative;
  width: 300px;
}

.dnp-badges {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  height: auto;
  width: 280px;
}

.do_not_place_student_one, .do_not_place_student_two {
  margin: 0 !important;
}

.dnp-badge {
  border-radius: 8px;
  background-color: lightgray;
  padding: 0.3em !important;
  display: inline;
  font-size: 0.8em;
  line-height: 1.8em;
  margin: 2px !important;
  white-space: nowrap;
}

.delete-dnp {
  line-height: 1.8em;
  font-size: 1.3em;
  a {
    text-decoration: none;
    color: inherit;
  }
}

.select2-container .select2-selection--single {
  line-height: 2em;
  height: 2em !important;
}

// Review students tab
.wrapper-teacher-status {
  display: flex;
  justify-content: center;
  background-color: $light-gray;

}

.teacher-status-container {
  width: 100%;
  max-width: 1080px;
  background-color: white;
  padding-bottom: 30px;
}

.teacher-status-title {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 10px;
  h3 {
  font-size: 32px;
  }
}

.teacher-status {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.teacher-status-labels {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 4px;
  grid-column-gap: 50px;
  grid-row-gap: 30px;
  padding: 30px;
  justify-content: center;
}

.teacher-status-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;

}



.submitted-teachers {
  // display: flex;
  // justify-content: center;
  grid-column: 1 / span 2;
}

.button-teacher-status {
// margin-left: 50px;
margin-bottom: 5px;
width: 100%;
}

.status-yellow-btn {
  width: 100%;
}

.teacher-name-status {
  font-size: 20px;
  // max-width: 200px;
}

.badge-pill {
  display: flex;
  align-items: center;
  justify-content: space-around;
   align-content: center;
}

.green-status-badge {
  background-color: $classy-green;
  color: white;
}
