/* Style the header */
.classy-students-header {
  height: 200px;
  width: 100%;
  line-height: 200px;
  text-align: center;
  color: $classy-gray;
  background-color: $classy-background-color;
}

.classy-content-header {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

#student-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  padding: 25px 0px 25px 0px;
  width: 100%;
  background: $classy-blue;
  color: white;
  z-index: 999;
}

.icon-text {
  font-size: 14px;
}

// .flex-items-header {
//   flex-grow: 1;
// }

.sticky-save-btn {
  width: 300px;
}

.save-btn {
  padding-left: 170px;
}

.icon-labels {
    flex-grow: 1;
}

.icon-labels ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  // justify-content: space-between;
}

.view-notes-btn {
  padding-right: 10px;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}

.do-not-place {
  position: relative;
  width: 300px;
}

.dnp-badges {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  height: 2em;
  // position: absolute;
  // top: 0;
  // left: 0;
  // padding: 0 5px;
  width: 280px;
}

.do_not_place_student_one, .do_not_place_student_two {
  margin: 0 !important;
}

.dnp-badge {
  border-radius: 8px;
  background-color: lightgray;
  padding: 0.3em !important;
  display: inline;
  font-size: 0.8em;
  line-height: 1.8em;
  margin: 2px !important;
}

.delete-dnp {
  line-height: 1.8em;
  font-size: 1.3em;
  a {
    text-decoration: none;
    color: inherit;
  }
}

.select2-container .select2-selection--single {
  line-height: 2em;
  height: 2em !important;
}
