/* Style the header */


.classy-students-header {
  margin: auto auto 20px auto;
  height: 150px;
  width: 80%;

  line-height: 150px;
  text-align: center;
  color: $classy-gray;
  background-color: $light-gray;
}

.classy-content-header {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.student-tab-container {
  justify-content: center;
  text-align: center;
}

.student-tab {
  border-radius: 24px 24px 0px 0px;
  width: 575px;
  height: 60px;
  margin: 1px;
  background-color: $classy-blue;
  opacity: .35;
    a {
    color: $classy-background-color;
  }
}
// needs to be $classy-blue when active and classy-blue opacity .35 when not active

.student-nav-link {
  border: 0 !important; //border is inherited from bootstrap
}

// Sticky Header with Buttons
#student-header {
  display: flex;
  flex-flow: row nowrap;
  align-self: center;
  justify-content: flex-start;
  padding: 25px 0px 25px 0px;
  height: 100px;
  width: 100%;
  background: $classy-blue;
  // height: 134px;
  color: white;
  z-index: 999;
}

.icon-text {
  font-size: 14px;
}

.sticky-save-btn {
  width: 300px;
}

.save-btn {
  padding-left: 170px;
}

.icon-labels {
    flex-grow: 1;
}

.icon-labels ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  // justify-content: space-between;
}

.view-notes-btn {
  padding-right: 10px;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}



