<!--BANNER -->
<div class="students-header-container" style="margin-bottom: 30px;">
  <div class="classy-students-header">
    <div class="classy-content-header">
      <div class="header-message"></div>
      <h1> Welcome
        <%= current_teacher.teacher_name %>! </h1>
      <p>Please update your students' information to ensure best results.</p>
    </div>
  </div>
  <div class="triangle"></div>
</div>
<!-- TABS -->

<div class="classy-tabs">
  <ul class="nav nav-tabs  ml-4 classy-ul-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="tru" style="font-size: 20px;">My Students</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false" style="font-size: 20px;">View All Students</a>
    </li>
  </ul>
</div>

<!-- STICKY HEADER  -->
<div class="wrapper" id="header-container-sticky">
  <div class="container">
    <div class="sticky-header-container">
      <div class="header-flex">
        <%= button_to "Save and Submit", sortbutton_path, method: :post, class: "yellow-btn" %>
        <div class="header-parameters">
          <div class="header-content" style="padding-top: 8px;">ESL</div>
          <div class="header-content">Gifted &<br>Talented</div>
          <div class="header-content" style="padding-top: 8px;">SPED</div>
          <div class="header-content">Medical <br>Alert</div>
        </div>
        <div class="show-notes-btn">
          <div class="btn btn-outline-info expand-view" style="margin-left: 320px;">
            <i class='far fa-angle-double-down'>
<!--               <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-double-down" class="svg-inline--fa fa-angle-double-down fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M143 256.3L7 120.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0L313 86.3c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.4 9.5-24.6 9.5-34 .1zm34 192l136-136c9.4-9.4 9.4-24.6 0-33.9l-22.6-22.6c-9.4-9.4-24.6-9.4-33.9 0L160 352.1l-96.4-96.4c-9.4-9.4-24.6-9.4-33.9 0L7 278.3c-9.4 9.4-9.4 24.6 0 33.9l136 136c9.4 9.5 24.6 9.5 34 .1z"></path></svg> -->
            </i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- STUDENT CARD  -->
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="section-student-cards">
      <div class="container m-auto container-student-cards">
        <% @mystudents.each_with_index  do |student, index| %>
        <%= render "students/card", student: student %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">


    <h1>this is where the second tab content goes</h1>


  </div>
</div>
