<div class="students-header-container">
  <div class="classy-students-header">
    <div class="classy-content-header">
      <h1> Welcome
        <%= current_teacher.teacher_name %>! </h1>
      <p>Please update your students' information to ensure best results.</p>
    </div>
  </div>
</div>

  <!-- STICKY HEADER  -->
    <div class="wrapper" id="header-container-sticky">
      <div class="container">
        <div class="sticky-header-container" >
          <div class="header" id="student-header">
            <!--  <div class="classy-sticky-button"> -->
            <div class="save-btn">
              <%= button_to "Save and Submit", sortbutton_path, method: :post, class: "yellow-btn sticky-save-btn" %>
            </div>
            <div class="icon-text">ESL</div>
            <div class="icon-text">Gifted & Talented</div>
            <div class="icon-text">SPED</div>
            <div class="icon-text">Medical Alert</div>
            <div class="show-notes-btn">
              <div class="yellow-btn expand-view">
                Show All Notes
              </div>
            </div>
            <!--   </div> -->
          </div>
        </div>
      </div>
    </div>
    <!-- STUDENT CARD  -->

<!-- View students tabs -->
<div class="d-flex">
  <div data-tabs class="tabs">
    <div class="nav nav-tabs student-tab-container">
      <div class="d-flex flex-row">
      <div class="tab">
        <input type="radio" name="tabgroup" id="tab-1" checked>
        <label for="tab-1">
          <div class="student-tab">
          <p>My Students</p>
          </div>
          <div class="tab__content">
          <%= render "/shared/my_students" %>
        </div>
        </label>
      </div>
      <div class="tab">
        <input type="radio" name="tabgroup" id="tab-2">
        <label for="tab-2">
          <div class="student-tab">
          <p>View All Students</p>
          </div>
          <div class="tab__content">
          <%= render "/shared/view_all_students" %>
        </div>
        </label>
      </div>
      </div>
      <div class="container">


      </div>
    </div>
  </div>
</div>












