<footer class="classy-footer">
  <p class="footer-content ">Classy is made with <i class="fas fa-heart pulse"></i></p>
  <p class= "nav-item"><a>
      <%= link_to "Log out", destroy_teacher_session_path, method: :delete %>
      </a></p>
</footer>