<div class="footer margintop">
  <div class="footer-copyright">
    Classy is made with <i class="fas fa-heart"></i>
  </div>
  <div><a class= "nav-item">
      <%= link_to "Log out", destroy_teacher_session_path, method: :delete %>
    </a></div>
</div>
