<input type="checkbox" name="toggle" id="toggle" />
<label for="toggle"></label>

<div class="container">
</div>

<div class="dropdown-card">   <h3>Note</h3>
   <input type="placeholder" placeholder="  Insert simple form text placeholder here">
   <div class="assign-to"><h3>Assign to</h3></div>
    <div class="assign-to-dropdown">
      <input type="placeholder" placeholder="  Insert simple form text placeholder here">     </div>
    <div class="button-position">
      [button]
    </div>
</div>
