<!-- start hero text and image -->
<header>
  <div class="hero-container">
    <div class="hero-content">
      <h1 style="font-size:64px">Don’t get puzzled<br> by class lists</h1>
      <p>Let Classy do the hard work for you.<br> No more notecards or post-it notes.</p>
      <div class="landingviewstudents-btn">
        <%= link_to 'Learn More', students_path, class: 'learn-more-text'%>
      </div>
    </div>
    <div class="hero-img">
      <%= image_tag "hero-image.png", alt: "hero image"%>
    </div>
  </div>
</header>
<!-- end hero text and image -->
<div id="container-sub-banner" class="container-fluid margintop">
  <div class="sub-banner classy-sub-banner mt-3 text-center margintop">
    <h3>Simplify building class lists in three easy steps.</h3>
    <div class="card-section">
      <div class="white-card">
        <div class="yellow-circle-sm">
          <div class="circle-number-sm">1</div>
        </div>
        <h4>Upload</h4>
        <p>Upload your student and teacher infomation</p>
      </div>
      <div class="white-card">
        <div class="yellow-circle-sm">
          <div class="circle-number-sm">2</div>
        </div>
        <h4>Update</h4>
        <p>Upload your student and teacher infomation</p>
      </div>
      <div class="white-card">
        <div class="yellow-circle-sm">
          <div class="circle-number-sm">3</div>
        </div>
        <h4>Sort</h4>
        <p>Upload your student and teacher infomation</p>
      </div>
    </div>
  </div>
</div>

