<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= @hello %>

<%= link_to "students", "/students", class: "btn btn-primary" %>
<%= link_to "classrooms", "/classrooms", class: "btn btn-primary" %>



