
<div class="banner">
<h1>Classy</h1>
<p>Helping teachers manage their <br> class lists more effectively</p>
</div>

<%= @hello %>

<%= link_to "students", "/students", class: "btn btn-success" %>
<%= link_to "classrooms", "/classrooms", class: "btn btn-danger" %>



