<%= link_to "students", "/students", class: "special-blue-btn" %>
<%= link_to "classrooms", "/classrooms", class: "btn btn-danger" %>


<div class="container mt-5">
  <div class="banner">
    <h1>Classy</h1>
    <p>Helping teachers manage their <br> class lists more effectively.</p>
  </div>
</div>


<div class="sub-banner mt-3">
  <h1 class="mt-3">Say something!</h1>
</div>




<%= @hello %>



