/* Plain yellow button */

.yellow-btn {
  background-color: $classy-yellow;
  display: inline-block;
  cursor: pointer;
  color: $classy-gray;
  font-family: Comfortaa;
  font-size:  16px;
  font-weight: light;
  padding: 4px 22px;
  text-decoration:none;
  border-radius: 2px;
  transition: 0.2s;
}
.yellow-btn:hover {
  text-decoration: none;
  background-color: rgb(206, 161, 0);
  color: $classy-gray;
}
.yellow-btn:active {
  position: relative;
  color: $classy-gray;
  background-color: rgb(206, 161, 0);
}

/* Plain blue button */

.blue-btn {
  background-color: $classy-blue;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-size: 16px;
  font-weight:light;
  padding: 4px 22px;
  border-radius: 2px;
  transition: 0.2s;
  text-decoration: none;
}

.blue-btn:hover {
  background-color: rgb(1, 53, 121);
  a:hover {
  text-decoration: none;
  color:white
  }
}

.blue-btn:active {
  text-decoration: none;
  position:relative;
  color: white;
  background-color: $classy-gray;
}

/* Outline yellow button */

.outline-yellow-btn {
  background-color: white;
  border:2px solid #F4BF00;
  color: #F4BF00;
  display:inline-block;
  cursor:pointer;
  font-family:Comfortaa;
  font-size: 16px;
  font-weight:light;
  padding: 4px 22px;
  text-decoration:none;
  border-radius: 4px;
}
.outline-yellow-btn:hover {
  text-decoration: none;
  background-color:white;
  border:2px solid #F4BF00;
  color: #F4BF00;
}
.outline-yellow-btn:active {
  position:relative;
  border:2px solid #CEA100;
  color: #CEA100;
  background-color:white;
}

/* Outline blue button */

.outline-blue-btn {
  background-color:white;
  border:2px solid #0F5EC7;
  color: #0F5EC7;
  display:inline-block;
  cursor:pointer;
  font-family:Comfortaa;
  font-size:  16px;
  font-weight:light;
  padding: 4px 22px;
  text-decoration:none;
  border-radius: 4px;
}
.outline-blue-btn:hover {
  text-decoration: none;
  background-color:white;
  border: 2px solid #0F5EC7;
  color: #0F5EC7;
}
.outline-blue-btn:active {
  position:relative;
  border:2px solid #013579;
  color: #013579;
  background-color:white;
}

/* Hover effect plain yellow button */
/* Smaller, no border. Linaer radient */

.special-yellow-btn {
  background-color:#F4BF00;
  background: linear-gradient(to bottom, #F4BF00 5%, #DEAE00 100%);
  display: inline-block;
  cursor: pointer;
  color: white;
  font-family: Comfortaa;
  font-size: 16px;
  font-weight:light;
  padding: 4px 22px;
  text-decoration: none;
  border-radius: 4px;
}
.special-yellow-btn:hover {
  text-decoration: none;
  background-color:#F4BF00;
  background:linear-gradient(to bottom, #DEAE00 5%, #F4BF00 100%);
  color: white;
}
.special-yellow-btn:active {
  background:linear-gradient(to bottom, #F4BF00 5%, #DEAE00 100%);
}

/* Hover effect Plain blue button */
.special-blue-btn {
  background-color:#0F5EC7;
  background:linear-gradient(to bottom, #0F5EC7 5%, #0D4DA3 100%);
  display:inline-block;
  cursor:pointer;
  color: white;
  font-family:Comfortaa;
  font-size: 16px;
  font-weight:light;
  padding: 4px 22px;
  text-decoration:none;
  border-radius: 4px;
}
.special-blue-btn:hover {
  text-decoration: none;
  background-color:#0F5EC7;
background:linear-gradient(to bottom, #0D4DA3 5%, #0F5EC7 100%);
  color: white;
}
.special-blue-btn:active {
  background:linear-gradient(to bottom, #0F5EC7 5%, #0D4DA3 100%);
}

