/* Plain yellow button */
.blue-learn-more-btn {
  background-color: $classy-blue;
  color: $classy-background-white;
  display: flex;
  text-decoration: none;
  cursor: pointer;
  border-radius: 20px;
  height: 40px;
  width: 25%;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
}

.blue-learn-more-btn:hover {
  a:hover {
    text-decoration: none;
    color: white
  }
}

.learn-more-text {
  color: white;
  font-size: 16px;
}

.yellow-btn {
  background-color: $classy-yellow;
  color: $classy-gray;
  font-family: Comfortaa;
  font-size: 1rem;
  font-weight: light;
  padding: 4px 20px;
  text-decoration: none;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.yellow-btn:hover {
  color: $classy-gray;
  text-decoration: none;
  background-color: rgb(206, 161, 0);
}

.yellow-btn:active {
  position: relative;
  color: $classy-gray;
  background-color: rgb(206, 161, 0);
}

.login-btn {
  background-color: $classy-yellow;
  color: $classy-blue;
  font-family: Comfortaa;
  font-size: 1rem;
  padding: 4px 20px;
  text-decoration: none;
  border-radius: 15px;
  border: none;
  width: 100px;
  height: 30px;
  cursor: pointer;
}


/* Plain blue button */
.blue-btn {
  background-color: $classy-blue;
  color: white;
  font-size: 1rem;
  font-weight: light;
  padding: 4px 20px;
  border-radius: 20px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.blue-btn:active {
  text-decoration: none;
  position: relative;
  color: white;
  background-color: $classy-gray;
}

#home-tab {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  color: $classy-blue;
  background-color: $light-gray;
}

#profile-tab {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  color: $classy-blue;
  background-color: $light-gray;
}

a#home-tab.active {
  background-color: $classy-blue;
  color: white;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-color: $classy-blue;
}

a#profile-tab.active {
  background-color: $classy-blue;
  color: white;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-color: $classy-blue;
}
