.navbar-classy {

  justify-content: space-between;
  background: white;
  box-shadow: 0 5px 10px -3px rgba(0,0,0,0.3);
}

.navbar-classy .navbar-collapse {
  flex-grow: 0;
}

// .fas {
//   font-size: 30px;
//   position: relative;
//   margin: 3px 0px 0px 15px;
//   color: green;
// }
