.navbar-classy {
  display: flex;
  justify-content: space-between;
}

img {
    max-width:15%;
    height:auto;
}


.navbar-classy .navbar-collapse {
  flex-grow: 0;
}

.nav-item {
  display: inline;
  list-style: none;
}

.fas {
  font-size: 30px;
  position: relative;
  margin: 3px 0px 0px 15px;
  color: green;
}

