.cards-container {
  position: relative;
}

.student-card {
  position: relative;
  background-color: $classy-background-color;
  overflow: hidden;
  width: 1080px;
  padding: 10px;
  margin: 20px 0px 0px 0px;
  align-items: center;
  z-index: 0;
  border-radius: 3px;
  p {
    margin: 0;
  }
}

.empty-placeholder {
  font-size: 12px;
  color: $classy-less-important-text-shade;
}

.section-student-cards {
  width: 100%;
  background-color: $light-gray;
  padding-bottom: 60px;
}


/* dropdown */
.dropdown-card {
  border-radius: 3px;
  margin-top: -10px;
  padding-top: 10px;
  display: flex;
  z-index: 999;
  justify-content: space-around;
  width: 1080px;
  height: 0px;
  background-color: #F0F7FF;
  box-shadow: 0px 2px 0px $classy-shadow-gray;
  overflow: hidden;
  transition: height 0.3s ease-out;
  .student-content {
    font-size: 13px;
    margin-top: 15px;
  }
}

.active .dropdown-card {
 height: 120px;
}


/* Student Card Components */

.student-name {
  font-size: 18px;
  font-weight: bolder;
  width: 90px;
}


/* Checkbox Icon */

.checkbox-icons .first-layer:hover {
  opacity: 1;
}
.checkbox-icons {
  color: $classy-blue;
  .first-layer {
    opacity: 0.35;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 30px;
    transition: 0.15s ease-out;
    position: relative;
  }
  .form-check-input {
    display: none;
  }
  .form-check-input:checked + label > .first-layer {
    opacity: 1;
  }
}
.checkbox-icons .first-layer .active {
  opacity: 1;
}

.second-layer-americas {
  position: absolute;
  top: 9%;
  left: 15%;
  color: white;
}

.second-layer-wizard {
  position: absolute;
  top: 8%;
  left: 15%;
  color: white;
}

.second-layer-star {
  position: absolute;
  top: 7%;
  left: 10%;
  color: white;
}

.second-layer-plus {
  position: absolute;
  top: 8%;
  left: 19%;
  color: white;
}


/* Dropdown carrot button */

.fa-chevron-down {
  cursor:pointer;
  font-size: 20px;
  color: $classy-blue;
  opacity: 0.75;
}

.fa-chevron-down:hover {
  opacity: 1;
}

// individual stduent cards for classroom#index

.classroom-container {
  padding-top: 5px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
}

.classroom-card-teacher {
  text-align: center;
  font-size: 18px;
  font-weight: bolder;
  //remove set height and width after code works
  height: 90px;
  // width: 300px;
  border: 1px solid;
  box-shadow: 0 5px 8px rgba(182, 210, 246, 0.5);
}

.teacher-column {
  display: grid;
  grid-gap: 1rem;
}

.classroom-card {
  padding: 5px;
  display: grid;
  grid-template-columns: 60px 1fr 75px;
  height: 90px;
  width: 300px;
  border: 1px solid;
  box-shadow: 0 5px 8px rgba(182, 210, 246, 0.5);
}

.student-name-label {
  align-self: center;
}

.student-data {
  justify-self: end;
}

.student-card-icons {
  i {
    font-size: 15px;
  }
}



