// Student card for teacher's view

.student-card {
position: relative;
// display: flex
// justify-content: space-around;
overflow: hidden;
width: 1080px;
// height: 90px;
padding: 10px;
margin: 20px 5px 5px 5px;
align-items: center;
box-shadow: 0 5px 8px rgba(182, 210, 246, 0.5);
transition: height 0.3s, box-shadow 0.3s;
  p {
    font-family: Comfortaa;
    font-size: 12.08px;
    margin: 0;
  }
}

.student-card:hover {
  // height: 95px;
  box-shadow: 5px 10px 15px 0px rgba(182, 210, 246,0.45);
}

// Checkbox
// Each checkbox has an ID, checkbox with duplicate ID will not work.
// Checkbox ID is embedded in the html component

.checkbox input[type="checkbox"] {
    opacity: 0.3;
}

.checkbox label {
    position: relative;
    display: inline-block;
    margin: 35px 20px;
    /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
    padding-left: 22px;
}

.checkbox label::before,
.checkbox label::after {
    position: absolute;
    content: "";

    /*Needed for the line-height to take effect*/
    display: inline-block;
}

/*Outer box of the fake checkbox*/
.checkbox label::before{
    height: 25px;
    width: 25px;
    border-radius: 3px;
    border: 3px solid $classy-yellow;
    left: 0px;

    /*(24px line-height - 16px height of fake checkbox) / 2 - 1px for the border
     *to vertically center it.
     */
    top: 3px;
}

/*Checkmark of the fake checkbox*/
.checkbox label::after {
    height: 6px;
    width: 15px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    color: #0F5EC7;
    transform: rotate(-45deg);
    left: 5px;
    top: 11px;
}

/*Hide the checkmark by default*/
.checkbox input[type="checkbox"] + label::after {
    content: none;
}

/*Unhide on the checked state*/
.checkbox input[type="checkbox"]:checked + label::after {
    content: "";
}


// Student card dropdown

