.cards-container {
  position: relative;
}

.student-card {
  position: relative;
  background-color: $classy-background-color;
  overflow: hidden;
  width: 1080px;
  padding: 10px;
  margin: 20px 0px 0px 0px;
  align-items: center;
  z-index: 0;
  border-radius: 3px;
  p {
    margin: 0;
  }
}

.empty-placeholder {
  font-size: 12px;
  color: $classy-less-important-text-shade;
}

.section-student-cards {
  width: 100%;
  background-color: $light-gray;
  padding-bottom: 60px;
  margin-top: 0;
  padding-top: 20px;
}


/* dropdown */
.dropdown-card {
  border-radius: 3px;
  margin-top: -10px;
  padding-top: 10px;
  display: flex;
  z-index: 999;
  justify-content: space-around;
  width: 1080px;
  height: 0px;
  background-color: #F0F7FF;
  box-shadow: 0px 2px 0px $classy-shadow-gray;
  overflow: hidden;
  transition: height 0.3s ease-out;
  .student-content {
    font-size: 13px;
    margin-top: 15px;
  }
}

.active1 .dropdown-card, .all-open .dropdown-card {
 height: 120px;
}

/* Student Card Components */

.student-name {
  font-size: 18px;
  font-weight: bolder;
  width: 90px;
}


/* Checkbox Icon */
.checkbox-icons .first-layer:hover {
  opacity: 1;
  cursor: pointer;
}

.checkbox-icons {
  color: $classy-blue;
  .first-layer {
    opacity: 0.35;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 30px;
    transition: 0.15s ease-out;
    position: relative;
  }
  .form-check-input {
    display: none;
  }
  .form-check-input:checked + label > .first-layer {
    opacity: 1;
  }
}
.checkbox-icons .first-layer .active {
  opacity: 1;
}

.second-layer-americas {
  position: absolute;
  top: 7%;
  left: 15%;
  color: white;
}

.second-layer-wizard {
  position: absolute;
  top: 8%;
  left: 15%;
  color: white;
}

.second-layer-star {
  position: absolute;
  top: 5.5%;
  left: 10%;
  color: white;
}

.second-layer-plus {
  position: absolute;
  top: 8%;
  left: 19%;
  color: white;
}


/* Dropdown carrot button */

.fa-chevron-down {
  cursor:pointer;
  font-size: 20px;
  color: $classy-blue;
  opacity: 0.75;
}

.fa-chevron-down:hover {
  opacity: 1;
}

// individual stduent cards for classroom#index

.classroom-container {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 50px;
  grid-template-rows: auto;
  grid-gap: 0px;
  justify-items: center;
  background-color: $light-gray;
}

.teacher-name {
  padding: 0 0 0 20px;
  h4 {
    font-size: 13px;
  }
}

.classroom-card-teacher {
  top: 20px;
  left: 20px;
  font-size: 24px;
  font-weight: bolder;
  //remove set height and width after code works
  width: 300px;
  // border: 1px solid;
  border-radius: 4px;
  box-shadow: 0 5px 8px rgba(206,206,206, 0.5);
  background-color: $classy-background-color;
}

.classroom-info-container {
  font-size: 16px;
  padding: 10px 0 20px 20px;
}

.tablet-bg-title {
  width: 60px;
  height: 25px;
  border-radius: 4px;
  background-color: #F0F7FF;
  position: relative;
  margin: 5px 10px 10px 0;
  padding: 2px 0px 5px 10px;
}

.tablet-bg-title-2 {
  width: 60px;
  height: 25px;
  border-radius: 4px;
  background-color: white;
  position: relative;
  margin: 5px 10px 10px 0;
  padding: 2px 0px 5px 10px;
}

.tablet-gender-info {
  position: absolute;
  font-size: 13px;
  color: white;
  right: 0;
  top: 0;
  width: 25px;
  height: 20px;
  background-color: $classy-gray;
  border-radius: 4px;
  padding: 2px 0px 5px 7px;
}

.tablet-icon-info {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 25px;
  background-color: #F2DC97;
  border-radius: 4px;
  padding: 2px 0px 5px 10px;
}


.teacher-column {
  display: grid;
  grid-gap: 1rem;
}

.classroom-card {
  padding: 5px;
  display: grid;
  grid-template-columns: 0px 60px 1fr 75px 28px;
  // justify-content: space-evenly;
  //remove set height and width after code works
  height: 80px;
  width: 300px;
  // border-left: 1px solid $classy-less-important-text-shade;
  // border-right: 1px solid $classy-less-important-text-shade;
  // border-bottom: 1px solid $classy-less-important-text-shade;
  background-color: $classy-background-color;
  box-shadow: 0 5px 8px rgba(206,206,206, 0.5);
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 4px;
  cursor: grab;
}

.classy-avatar-space {
  display: grid;
  align-items: center;
  margin-left: 5px;
}

.student-name-label {
  align-self: center;
}

.student-data {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.student-card-icons {
  i {
    font-size: 15px;
  }
}

.fa-grip-lines {
  max-width: 20px;
}

.classy-gripper {
  display: grid;
  justify-content: center;
  align-items: center;
}

.view-info-link {
  padding-top: 5px;
  font-size: 12px;
}

.stickyteachers {
    position: sticky;
    top: 0;
}

